#background {
  background-color: #e0ccff;
}

#title {
  font-family: courier, monospace;
  text-align: center;
}

#l1 {
  font-size: 110%;
  text-align: center;
}

#l2 {
  text-align: center;
}

#l3 {
  font-family: courier, monospace;
  text-align: center;
}

#l4 {
  text-align: center;
}